@using System.Configuration

@{
    ViewBag.Title = "Home Page";
}

<h1>
    Environment: @ConfigurationManager.AppSettings["Environment"]
</h1>
<br/>
<h1>
    Upload File Size: @ConfigurationManager.AppSettings["UploadFileSize"]
</h1>

<h1>
    first version via github and Jenkins.
</h1>